<div class='info'>
        <article>
                <h1>Welcome to Ben's github pages</h1>
                <p>
                        Hello I am Ben sometimes also known as benevo, and these are my github pages.
                </p>

                <p>
                        Outside of computers I enjoy modular origami, drawing, and I would like to start mini painting in the future.
                </p>

                <p>
                        These pages where setup to give me something to do while job searching. First to demo my ability
                        and keep my abilities from degrading. Second to show off some cool stuff that I have found.
                </p>

                <p>
                        Presently these pages are being rewritten with <a href="https://hexdocs.pm/lustre_ssg/lustre/ssg.html">lustre_ssg</a> to resolve major issues with hosting single page applications on github pages.
                        Progress may bee seen <a href="https://github.com/benev0/new-pages">here</a>.
                </p>
        </article>
</div>
